*.apk
*.ap_
/*/build/
*.dex
com_crashlytics_export_strings.xml
*.class
bin/
gen/
out/
.gradle/
build/
local.properties
proguard/

# Log Files
*.log
.navigation/
captures/
.idea/
*.iml
*.jks
.externalNativeBuild
google-services.json
freeline.py
freeline/
freeline_project_description.json
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.signing/
